<!-- <html>
	<section>
        <title>Instafeed on Your Website</title>;
    </section>
<body>
	<h1 style="text-align: center">Show Instagram Feed on your Website</h1>';
    <div id="instafeed-container"></div>;
	<script src="https://cdn.jsdelivr.net/gh/stevenschobert/instafeed.js@2.0.0rc1/src/instafeed.min.js"></script>
	<script type="text/javascript">
	var userFeed = new Instafeed({
		get: 'user',
		target: "instafeed-container",
    	resolution: 'low_resolution',
		accessToken: 'IGQVJYUm92cG0tMWxZAOExIWnhrOFZAlYV9zMGtsQ0RaeG1PN3BvSUd4ajZA3V2YyWENvcTZAvWThMTElYZAjZA1NmhMbXc3dXBFQ2tLNDRmdmhVZA1pjMU1FNjlxblBfNlliVmVuX0FTYkFjLXFvM192YndfNQZDZD'
	});
	userFeed.run();
	console.log('hi');
	</script>
</body>
</html> -->